@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

header {
    background-color: #080928;
    border-radius:10px;
}



.container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center; 
    flex-wrap: wrap;
}



.title {
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-family: 'Press Start 2P', cursive;
    color: white;
}

.search {
    border-radius: 50px;
    width: 13%;
    height: 20%;
    display: flex;
    position: relative;
    padding-left: 10px;
}


img { padding:  15px;
}

.navbar .nav-links ul{
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    
}

nav .nav-links {
    display: flex;
    justify-content: space-between;
    width: auto;
}
/* Fin du header */

/* Début du Body  */

body {
    text-align: center;
    background-image: url(Image/Nyancat.jpg);
    background-color: #080928;
    color: white;
    font-family: "Muli", sans-serif;
}

.contact{
    text-align: center; 
    padding: 100px;
    
}

.section1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding: 50px;
}

.div1 {
    border: white;
    width: 33%;
}

.div2 {
    width: 33%;
}


.div3 {
    width: 33%;
}



/* fin du Body  */

/* Début du Footer  */

div {
    color: blanchedalmond;
}

section {
  background-color: #080928;
  display: flex;
  justify-content: right; justify-content: space-around;
  
}

h6 {
    color: blanchedalmond;
}

/* Fin Footer */