/* Début Header */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
h1 {
  font-family: 'Press Start 2P', cursive; 
}

h1 a:link{
  text-decoration: none;
  color: #fff;
   
}

header {
    background-color: #080928;
    border-radius:10px;
}



.container-nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center; 
    flex-wrap: wrap;
}

#nom {
    font-family: 'Press Start 2P', cursive;
    color: white;
}

.title {
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.search {
    border-radius: 50px;
    width: 13%;
    height: 20%;
    display: flex;
    position: relative;
    padding-left: 10px;
    left: 120px;
}


img { padding:  15px;
}

.navbar .nav-links ul{
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    
}

nav .nav-links {
    display: flex;
    justify-content: space-between;
    width: auto;
    position: relative;
    right: 70px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #080928;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #080928;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #751bcf;}


.dropdown:hover .dropdown-content {display: block;}


.dropdown:hover .dropbtn {background-color:#080928;}


/* Fin du header */