@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
    text-align: center;
    background-image: url(Image/Nyancat.jpg);
    background-color: #080928;
    color: white;
    font-family: "Muli", sans-serif;
}

.contact{
    text-align: center; 
    padding: 100px;
    
}

.section1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding: 50px;
}

.div1 {
    border: white;
    width: 33%;
}

.div2 {
    width: 33%;
}


.div3 {
    width: 33%;
}