@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@400;600&display=swap');
/* Mise en page des 3 cases */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, #0e3950 0%,#0e3950 30%, #03a9f5 30%, #03a9f5 100% );
}

.contact-container {
    position: relative;
    width: 100%;
    padding: 40px 100px;
}

.contact-container .contact-title {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.contact-container .contact-title h2 {
    font-family: 'Oxanium', cursive;
    font-size: 2em;
    color: white;
    margin-bottom: 15px;
}

.contact-container .contact-box {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 6fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 20px;
    margin-top: 15px;
}

.contact-container .contact-box .contact {
    padding: 20px;
    background-color: white;
    box-shadow: 0 5px 35px rgba(0,0,0,0.15);
}

.contact-container .contact-box .form {
    grid-area: form;
}

.contact-container .contact-box .info {
    grid-area: info;
}

.contact-container .contact-box .map {
    grid-area: map;
}

.contact-container .contact-box h3 {
    font-family: 'Oxanium', cursive;
    font-weight: 500;
    font-size: 1.3em;
    margin-bottom: 10px;
}

/* Formulaire */

.contact-container .contact-box .FormBox {
    position: relative;
    width: 100%;
}

.contact-container .contact-box .FormBox .grp1 {
    display: flex;
    gap: 20px;
    
}

.contact-container .contact-box .FormBox .InputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 50%;
}

.contact-container .contact-box .FormBox .grp2 .InputBox {
    width: 100%;
}

.contact-container .contact-box .FormBox .InputBox span {
    color: #03a9f5;
    font-family: 'Oxanium', cursive;
    font-weight: 500;
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 5px;
}

.contact-container .contact-box .FormBox .InputBox input {
    padding: 10px;
    font-size: 1em;
    outline: none;
    border: 1px solid #0e3950;
    font-family: 'Oxanium', cursive;
}

.contact-container .contact-box .FormBox .InputBox textarea {
    font-family: 'Oxanium', cursive;
    padding: 10px;
    font-size: 1em;
    outline: none;
    border: 1px solid #0e3950;
    resize: none;
    min-height: 220px;
    margin-bottom: 15px;
}

.contact-container .contact-box .FormBox .InputBox .submit {
    background: green;
    color: #ffff;
    border: none;
    font-family: 'Oxanium', cursive;
    font-size: 1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}

.contact-container .contact-box .FormBox .InputBox .submit:hover {
    background-color: #03a9f5;
    position: relative;
    top: 4px;
}

.contact-container .contact-box .FormBox .InputBox::placeholder {
    color: green;
}

/* Informations */

.contact-container .contact-box .info {
    background: #0e3950;
}

.contact-container .contact-box .info h3 {
    color: #ffff;
    font-family: 'Oxanium', cursive;
    font-size: 1,3em;
    margin-bottom: 20px;
}

.contact-container .contact-box .info .InfoBox .DivInfo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.contact-container .contact-box .info .InfoBox .DivInfo a,p {
    color: #ffff;
    font-family: 'Oxanium', cursive;
    font-size: 1em;
    font-weight: 300;
    text-decoration: none;
}

.contact-container .contact-box .info .InfoBox .DivInfo a:hover {
    color: green;
}


.contact-container .contact-box .info .InfoBox .DivInfo span {
    width: 45px;
    min-height: 45px;
    height: 45px;
    color: #ffff;
    background: #03a9f5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    margin-right: 15px;
}

.contact-container .contact-box .info .InfoBox .DivInfo span img {
   width: 25px;
   height: 25px;
}

.contact-container .contact-box .info .InfoBox .reseaux {
    display: flex;
    list-style: none;
    margin-top: 40px;
    justify-content: space-around;
}

/* Carte */

.contact-container .contact-box .map {
    padding: 0;
}

.contact-container .contact-box .map iframe {
    width: 100%;
    height: 100%;
}
